<aside ng-controller="walletBalanceCtrl">

    <h3>Wallet Info</h3>
    <!-- Account Address -->
    <div class="block">
        <div class="row text-center">
            <div class="col-md-12 col-xs-12">
                <div class="col-md-12 col-xs-12 text-center">
                    <div class="addressIdenticon med" blockie-address="{{wallet.getAddressString()}}"
                         watch-var="wallet"></div>
                </div>
                <hr>
                <div class="col-md-12 col-xs-12 text-center p-0">
                    <button class="btn btn-white btn-block p-1 pt-2 pb-2" ng-click="viewDetailsModal.open()">View
                        Details
                    </button>
                    <a ng-click="reloadPage()">
                        <button class="balance-id btn btn-white btn-block p-1 pt-2 pb-2 text-red btn-sm">Close Wallet
                        </button>
                    </a>
                </div>
            </div>
        </div>
        <hr>
        <h5>FUSION Balance</h5>
        <ul class="account-info point">
            <li>
                <span class="mono wrap wallet-balance">{{web3WalletBalance}}</span> <span
                    class="fusion-text-12">FSN</span>
            </li>
        </ul>
        <h5>Public Address</h5>
        <ul class="account-info">
            <div class="gray-bg p-1 break-word">
                    <span class="small-gray-text text-fusion fusion-text-14 copy"
                    ng-click="copyToClipboard(wallet.getChecksumAddressString())"
                    >{{wallet.getChecksumAddressString()}}</span>
            </div>
            <label class="ens-response" ng-show="showEns()">
                ↳ <span class="mono ng-binding"> {{ensAddress}} </span>
            </label>
        </ul>
        <h5>Short Address</h5>
        <ul class="account-info point">
            <li class="gray-bg break-word"
                ng-class="{'display-table-cell' : addressNotation.value != 'It looks like you don’t have a Short Account Number (SAN) yet. Fusion’s SAN is an 8 character version of your wallet address that’s as easy to remember as your phone number. Click the button below to generate one.'}"
            >
                <span class="small-gray-text text-fusion fusion-text-14 p-1 copy"
                      ng-class="{'copy' : addressNotation.value != 'It looks like you don’t have a Short Account Number (SAN) yet. Fusion’s SAN is an 8 character version of your wallet address that’s as easy to remember as your phone number. Click the button below to generate one.'}"
                      ng-click="copyToClipboard(addressNotation.value)"
                      ng-bind="addressNotation.value">

                </span>
                </span>
            </li>
        </ul>
        <div ng-if="addressNotation.state === false">
            <button class="btn btn-sm btn-primary w-100" ng-click="setShortAddressNotation()"
                    ng-disabled="addressNotation.value != 'It looks like you don’t have a Short Account Number (SAN) yet. Fusion’s SAN is an 8 character version of your wallet address that’s as easy to remember as your phone number. Click the button below to generate one.' || web3WalletBalance == '0'">
                Generate SAN
            </button>
            <span class="small-gray-text">Transaction fee ~0.00002 FSN</span>
        </div>
        <div ng-show="showDisplayOnTrezor()">
            <h5 translate="sidebar_DisplayOnTrezor">Display address on TREZOR</h5>
            <ul class="account-info">
                <li><a href="" ng-click="displayOnTrezor()" translate="sidebar_DisplayOnTrezor">Display address on
                    TREZOR</a></li>
            </ul>
        </div>
        <div ng-show="showDisplayOnLedger()">
            <h5 translate="sidebar_DisplayOnLedger">Display address on Ledger</h5>
            <ul class="account-info">
                <li><a href="" ng-click="displayOnLedger()" translate="sidebar_DisplayOnLedger">Display address on
                    Ledger</a></li>
            </ul>
        </div>
        <h5 translate="sidebar_TransHistory"> Transaction History</h5>
        <ul class="account-info">
            <li ng-show="ajaxReq.type == 'ETH'">
                <a class="blue-text"
                        href="https://blocks.fusionnetwork.io/Addresses/{{wallet.getAddressString()}}" target="_blank"
                   rel="noopener noreferrer">
                    FSN Block Explorer <img class="mb-1" src="images/New_Window.svg"/>
                </a>
            </li>
        </ul>
        <article class="modal fade" id="viewDetailsModal" tabindex="-1">
            <section class="modal-dialog">
                <section class="modal-content">
                    <article class="block">
                        <div class="col-md-12 p-0">
                            <div class="float-right">
                                  <span class="gray-text" ng-click="viewDetailsModalClose();">                    <i
                                          class="fa fa-times"
                                          aria-hidden="true"></i>
</span>
                            </div>
                        </div>
                        <h3 class="h3-title">Wallet Details</h3>
                        <div class="row contents">
                            <span class="small-gray-text inline mb-2 mt-2">Wallet Address</span>
                            <div class="gray-bg p-1">
                                <span class="small-gray-text text-fusion fusion-text-14">
                                    {{wallet.getChecksumAddressString()}}
                                </span>
                            </div>
                            <span class="small-gray-text inline mb-2 mt-2">Short Address </span>
                            <div class="gray-bg p-1">
                                <span class="small-gray-text text-fusion fusion-text-14"
                                      ng-bind="addressNotation.value"></span>
                            </div>
                            <div class="col-md-12" ng-hide="wallet.hwType == 'ledger' || wallet.hwType == 'trezor';">
                                <div class="row form-group" ng-show="showPkState">
                                    <span class="small-gray-text inline mb-2 mt-2">Private Key (Unencrypted)</span>
                                    <div class="col-md-10 pl-1 pr-1">
                                        <div class="gray-bg p-1 break-word">
                                            <span class="small-gray-text text-fusion fusion-text-14">{{wallet.getPrivateKeyString()}}</span>
                                        </div>
                                    </div>
                                    <div class="col-md-2 pl-1 pr-1">
                                        <button class="btn btn-sm btn-white m-0" ng-click="showPk('hide')">Hide</button>
                                    </div>
                                </div>
                                <div class="row form-group" ng-hide="showPkState">
                                    <span class="small-gray-text inline mb-2 mt-2">Private Key (Unencrypted)</span>
                                    <div class="col-md-10 pl-1 pr-1">
                                        <input type="password" class="form-control" placeholder="Enter password to view Private Key"
                                               ng-model="inputPassword">
                                    </div>
                                    <div class="col-md-2 pl-1 pr-1">
                                        <button class="btn btn-sm btn-primary" ng-click="showPk('show')">View Key</button>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-12 p-0">
                                <div class="col-md-6 p-0">
                                    <span class="small-gray-text inline mb-2 mt-2 ml-4">Wallet Address</span>
                                    <div class="qr-code" style="max-width: 200px !important;"
                                         qr-code="{{wallet.getChecksumAddressString()}}"
                                         watch-var="timeLockList"></div>
                                </div>
                                <div class="col-md-6 p-0" ng-show="showPkState">
                                    <span class="small-gray-text inline mb-2 mt-2 ml-4">Private Key (Unencrypted)</span>
                                    <div class="qr-code"  style="max-width: 200px !important;"
                                         qr-code="{{wallet.getPrivateKeyString()}}"
                                         watch-var="timeLockList"></div>
                                </div>
                            </div>
                        </div>

                    </article>
                </section>
            </section>
        </article>

    </div>

    <!-- Slider Thingy -->
    <!-- Hardware Wallets -->
    <!--<a href="https://kb.myetherwallet.com/getting-started/protecting-yourself-and-your-funds.html"-->
    <!--ng-show="slide==1 || ajaxReq.type!=='ETH'"-->
    <!--class="block swap&#45;&#45;hw"-->
    <!--target="_blank" rel="noopener noreferrer">-->
    <!--<div class="col-sm-7">-->

    <!--<h5 class="swap__cta" ng-show="wallet.balance<=1">Learn more about protecting your funds.</h5>-->

    <!--<p class="swap__subhead" ng-show="wallet.balance<50 && wallet.balance>1">Welcome back</h5>-->
    <!--<h5 class="swap__cta" ng-show="wallet.balance<50 && wallet.balance>1">Are you as secure as you can be?</h5>-->

    <!--<p class="swap__subhead" ng-show="wallet.balance>=50">Holy cow, look at you go!</p>-->
    <!--<h5 class="swap__cta" ng-show="wallet.balance>=50">Time to beef up your security?</h5>-->
    <!--</div>-->
    <!--<div class="col-sm-5">-->
    <!--<img src="images/logo-ledger.svg" width="80" height="auto" class="swap__logo">-->
    <!--<br />-->
    <!--<img src="images/logo-trezor.svg" width="80" height="auto" class="swap__logo">-->
    <!--</div>-->
    <!--</a>-->

    <!-- Bity -->
    <!--<a ng-click="globalService.currentTab=globalService.tabs.swap.id"-->
    <!--ng-show="ajaxReq.type=='ETH' && slide==2"-->
    <!--class="block swap&#45;&#45;btc"-->
    <!--target="_blank" rel="noopener noreferrer">-->
    <!--<div class="col-sm-7">-->
    <!--<p class="swap__subhead" ng-show="wallet.balance<=0">Aw...you don't have any ETH.</p>-->
    <!--<p class="swap__subhead" ng-show="wallet.balance>0&&wallet.balance<50">It's now easier to get more ETH</p>-->
    <!--<p class="swap__subhead" ng-show="wallet.balance>50">It's now easier to move between ETH &amp; BTC</p>-->
    <!--<h5 class="swap__cta">Swap BTC <-> ETH</h5>-->
    <!--</div>-->
    <!--<div class="col-sm-5">-->
    <!--<img src="images/logo-bity-white.svg" width="60" height="auto" class="swap__logo">-->
    <!--<p class="swap-flag&#45;&#45;price">1 ETH ≈ <br /> {{wallet.btcPrice}} BTC</p>-->
    <!--</div>-->
    <!--</a>-->

    <!-- Coinbase
    <a href="#"
       ng-show="ajaxReq.type=='ETH' && slide==2"
       class="block swap--usd"
       target="_blank" rel="noopener noreferrer">
      <div class="col-sm-7">
        <p class="swap__subhead" ng-show="wallet.balance<=0">Aw...you don't have any ETH</p>
        <p class="swap__subhead" ng-show="wallet.balance>0">It's now easier to get more ETH</p>
        <h5 class="swap__cta">Buy ETH with USD</h5>
      </div>
      <div class="col-sm-5">
        <img src="images/logo-coinbase.svg" width="64" height="auto" class="swap__logo">
        <p class="swap-flag--price">1 ETH ≈ <br /> {{wallet.usdPrice}} USD</p>
      </div>
    </a>
    -->

    <!--<div class="swap__nav" ng-show="ajaxReq.type=='ETH'">-->
    <!--<a ng-click="slide=1"> &bull; </a>-->
    <!--<a ng-click="slide=2"> &bull; </a>-->
    <!--</div>-->


    <!--&lt;!&ndash; Extra Content Balances &ndash;&gt;-->
    <!--<div class="block token-balances">-->
    <!--EXTRA CONTENT-->
    <!--</div>-->


    <!--&lt;!&ndash; Equivalent Balances &ndash;&gt;-->
    <!--<div class="block">-->
    <!--EXTRA CONTENT-->
    <!--</div>-->

</aside>
