<aside ng-controller="walletBalanceCtrl">

    <h3>Wallet Info</h3>
    <!-- Account Address -->
    <div class="block">
        <div class="row text-center">
            <div class="col-md-4">
                <div class="addressIdenticon med float" blockie-address="{{wallet.getAddressString()}}"
                     watch-var="wallet"></div>
            </div>
            <div class="col-md-8">
                <button class="btn btn-white" ng-click="viewDetailsModal.open()">View Details</button>
                <button class="btn btn-sm btn-white text-red">Close Wallet</button>
            </div>
        </div>
        <hr>
        <h5>FUSION Balance</h5>
        <ul class="account-info point">
            <li>
                <!--<span class="mono wrap text-fusion">{{wallet.balance}}</span> FSN-->
                <div class="gray-bg p-1 w-50">
                    <span class="small-gray-text text-fusion fusion-text-14">{{web3WalletBalance}} FSN</span>
                </div>
            </li>
        </ul>
        <h5>Public Address</h5>
        <ul class="account-info">
            <div class="gray-bg p-1">
                <span class="small-gray-text text-fusion fusion-text-14">{{wallet.getChecksumAddressString()}}</span>
            </div>
            <label class="ens-response" ng-show="showEns()">
                ↳ <span class="mono ng-binding"> {{ensAddress}} </span>
            </label>
        </ul>
        <h5>Short Address</h5>
        <ul class="account-info point">
            <li>
                    <span class="small-gray-text text-fusion fusion-text-14 gray-bg p-1"  ng-bind="addressNotation.value"></span>
            </li>
        </ul>
        <div ng-if="addressNotation.state === false">
            <button class="btn btn-sm btn-primary" ng-click="setShortAddressNotation()"
                    ng-disabled="addressNotation.value != 'Not available' || web3WalletBalance == '0'">
                Generate SAN
            </button>
        </div>
        <div ng-show="showDisplayOnTrezor()">
            <h5 translate="sidebar_DisplayOnTrezor">Display address on TREZOR</h5>
            <ul class="account-info">
                <li><a href="" ng-click="displayOnTrezor()" translate="sidebar_DisplayOnTrezor">Display address on
                    TREZOR</a></li>
            </ul>
        </div>
        <div ng-show="showDisplayOnLedger()">
            <h5 translate="sidebar_DisplayOnLedger">Display address on Ledger</h5>
            <ul class="account-info">
                <li><a href="" ng-click="displayOnLedger()" translate="sidebar_DisplayOnLedger">Display address on
                    Ledger</a></li>
            </ul>
        </div>
        <h5 translate="sidebar_TransHistory"> Transaction History</h5>
        <ul class="account-info">
            <li ng-show="ajaxReq.type != 'CUS'">
                <a href="{{ajaxReq.blockExplorerAddr.replace('[[address]]', wallet.getAddressString())}}"
                   target="_blank" rel="noopener noreferrer">
                    {{ajaxReq.type}} ({{ajaxReq.blockExplorerTX.match('://(.*?)/')[1]}})
                </a>
            </li>
            <li ng-show="ajaxReq.type == 'ETH'">
                <a href="https://ethplorer.io/address/{{wallet.getAddressString()}}" target="_blank"
                   rel="noopener noreferrer">
                    Tokens (Ethplorer.io)
                </a>
            </li>
        </ul>
        <article class="modal fade" id="viewDetailsModal" tabindex="-1">
            <section class="modal-dialog">
                <section class="modal-content">
                    <article class="block">
                        <div class="col-md-12 p-0">
                            <div class="float-right">
                                  <span class="gray-text" ng-click="viewDetailsModal.close();">                    <i
                                          class="fa fa-times"
                                          aria-hidden="true"></i>
</span>
                            </div>
                        </div>
                        <h3>Wallet Details</h3>
                        <div class="row">
                            <span class="small-gray-text">Wallet Address </span>
                            <div class="gray-bg p-1">
                                <span class="small-gray-text text-fusion fusion-text-14">{{wallet.getChecksumAddressString()}}</span>
                            </div>
                            <span class="small-gray-text">Short Address </span>
                            <div class="gray-bg p-1">
                                <span class="small-gray-text text-fusion fusion-text-14"
                                      ng-bind="addressNotation.value"></span>
                            </div>
                            <span class="small-gray-text">Private Key (Unencrypted)</span>
                            <div class="gray-bg p-1">
                                <span class="small-gray-text text-fusion fusion-text-14">{{wallet.getPrivateKeyString()}}</span>
                            </div>
                        </div>

                    </article>
                </section>
            </section>
        </article>

    </div>

    <!-- Slider Thingy -->
    <!-- Hardware Wallets -->
    <!--<a href="https://kb.myetherwallet.com/getting-started/protecting-yourself-and-your-funds.html"-->
    <!--ng-show="slide==1 || ajaxReq.type!=='ETH'"-->
    <!--class="block swap&#45;&#45;hw"-->
    <!--target="_blank" rel="noopener noreferrer">-->
    <!--<div class="col-sm-7">-->

    <!--<h5 class="swap__cta" ng-show="wallet.balance<=1">Learn more about protecting your funds.</h5>-->

    <!--<p class="swap__subhead" ng-show="wallet.balance<50 && wallet.balance>1">Welcome back</h5>-->
    <!--<h5 class="swap__cta" ng-show="wallet.balance<50 && wallet.balance>1">Are you as secure as you can be?</h5>-->

    <!--<p class="swap__subhead" ng-show="wallet.balance>=50">Holy cow, look at you go!</p>-->
    <!--<h5 class="swap__cta" ng-show="wallet.balance>=50">Time to beef up your security?</h5>-->
    <!--</div>-->
    <!--<div class="col-sm-5">-->
    <!--<img src="images/logo-ledger.svg" width="80" height="auto" class="swap__logo">-->
    <!--<br />-->
    <!--<img src="images/logo-trezor.svg" width="80" height="auto" class="swap__logo">-->
    <!--</div>-->
    <!--</a>-->

    <!-- Bity -->
    <!--<a ng-click="globalService.currentTab=globalService.tabs.swap.id"-->
    <!--ng-show="ajaxReq.type=='ETH' && slide==2"-->
    <!--class="block swap&#45;&#45;btc"-->
    <!--target="_blank" rel="noopener noreferrer">-->
    <!--<div class="col-sm-7">-->
    <!--<p class="swap__subhead" ng-show="wallet.balance<=0">Aw...you don't have any ETH.</p>-->
    <!--<p class="swap__subhead" ng-show="wallet.balance>0&&wallet.balance<50">It's now easier to get more ETH</p>-->
    <!--<p class="swap__subhead" ng-show="wallet.balance>50">It's now easier to move between ETH &amp; BTC</p>-->
    <!--<h5 class="swap__cta">Swap BTC <-> ETH</h5>-->
    <!--</div>-->
    <!--<div class="col-sm-5">-->
    <!--<img src="images/logo-bity-white.svg" width="60" height="auto" class="swap__logo">-->
    <!--<p class="swap-flag&#45;&#45;price">1 ETH ≈ <br /> {{wallet.btcPrice}} BTC</p>-->
    <!--</div>-->
    <!--</a>-->

    <!-- Coinbase
    <a href="#"
       ng-show="ajaxReq.type=='ETH' && slide==2"
       class="block swap--usd"
       target="_blank" rel="noopener noreferrer">
      <div class="col-sm-7">
        <p class="swap__subhead" ng-show="wallet.balance<=0">Aw...you don't have any ETH</p>
        <p class="swap__subhead" ng-show="wallet.balance>0">It's now easier to get more ETH</p>
        <h5 class="swap__cta">Buy ETH with USD</h5>
      </div>
      <div class="col-sm-5">
        <img src="images/logo-coinbase.svg" width="64" height="auto" class="swap__logo">
        <p class="swap-flag--price">1 ETH ≈ <br /> {{wallet.usdPrice}} USD</p>
      </div>
    </a>
    -->

    <!--<div class="swap__nav" ng-show="ajaxReq.type=='ETH'">-->
    <!--<a ng-click="slide=1"> &bull; </a>-->
    <!--<a ng-click="slide=2"> &bull; </a>-->
    <!--</div>-->


    <!--&lt;!&ndash; Extra Content Balances &ndash;&gt;-->
    <!--<div class="block token-balances">-->
    <!--EXTRA CONTENT-->
    <!--</div>-->


    <!--&lt;!&ndash; Equivalent Balances &ndash;&gt;-->
    <!--<div class="block">-->
    <!--EXTRA CONTENT-->
    <!--</div>-->

</aside>
